{% extends "index.html" %}

{% block content %}
<!-- One -->
	<div id="header">
		<section class="wrapper style4 container">		
			<div class="row ">
				<div class="8u">		
				<!-- Latest Content -->
					<div class="content">
						<section>
							<header>
								<h4><a href="/blog/{{last.id}}">{{ last.title }}</a></h4>
								<div class = "post_meta">
									By {{ last.author }} [{{ last.pubDate|date:"Y-m-d"}}]
								</div>
							</header>
							<div class = "post_body">
								{{ last.body|safe|linebreaks }}
							</div>
							<div class="tags">
								{% for tag in last.tags.all %}
								<a href="/blog/tag/{{tag}}">#{{ tag }}</a>
								{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</div>
						</section>
					</div>
				</div>
				<div class="4u">				
				<!-- Sidebar -->
					<div class="sidebar">
						{% for post in post_list %}
							<section>
								<header>
									<h3>{{ post.title }} [{{post.pubDate|date:"Y-m-d"}}]</h3>
								</header>
								<div class = "post_body">
									{% load div %}
									{% with last.body|wordcount|div:"4" as count %}
									{{ post.body|safe|linebreaks|truncatewords:count}}
									{% endwith %}
								</div>
								<div class="tags">
									{% for tag in post.tags.all %}
									<a href="/blog/tag/{{tag}}">#{{ tag }}</a>
									{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</div>
								<footer>
									<ul class="buttons">
										<li><a href="/blog/{{post.id}}" class="button small">Read More</a></li>
									</ul>
								</footer>
							</section>
						{% endfor %}
					</div>
				</div>
			</div>					
		</section>
		
		<!-- Two -->
		<section class="wrapper style1 container special">
			<div class="row">
				<div class="4u">			
					<section>
						<footer>
							<ul class="buttons">
								<li><a href="#" class="button special">Jump to Top</a></li>
							</ul>
						</footer>
					</section>				
				</div>
				<div class="4u">		
					<section>
						<footer>
							<ul class="buttons">
								<li><a href="/blog/archives/" class="button special">View Older Posts</a></li>
							</ul>
						</footer>
					</section>						
				</div>
				<div class="4u">				
					<section>
						<footer>
							<ul class="buttons">
								<li><a href="/blog/feed/" class="button special">RSS Feed</a></li>
							</ul>
						</footer>
					</section>				
				</div>
			</div>
		</section>
	</div>
					
{% endblock %}
