{% extends "base.html" %}

{% block content %}


<h2><p>Get In Touch</p></h2>
{% include "nav.html" %}
<br>
	<section class="wrapper style4 special container small">
				<form action="/contact/" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="row half no-collapse-1">
						<div id="fieldWrapper" class="6u">
								{{ form.name.errors }}
								{{ form.name }}
						</div>
						<div id="fieldWrapper" class="6u">
								{{ form.sender.errors }}
								{{ form.sender }}
						</div>
					</div>
					<div id="fieldWrapper" class="row half">
						<div class="12u">
							{{ form.subject.errors }}
							{{ form.subject }}
						</div>
					</div>
					<div id="fieldWrapper" class="row half">
						<div class="12u">
							{{ form.message.errors }}
							{{ form.message }}
						</div>
					</div>
					<div id="fieldWrapper">
						{{ form.send_to_myself.errors }}
						<label for="id_send_to_myself">Send a copy to yourself?</label>
						{{ form.send_to_myself }}
						<p><input type="submit" value="Send Message" /></p>
					</div>
					
				</form>
			
		</section>
{% endblock %}
